<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create To-Do List</title>
</head>
<body>
    <main>
        <div>
            <h1>Create New To-Do List</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>
            <a href="{% url 'todo_list_list' %}">Back to To-Do Lists</a>
        </div>
    </main>
</body>
</html>
