<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Lists</title>
</head>
<body>
    <main>
        <h1>To-Do Lists</h1>
        <ul>
            {% for todolist in todolists %}
                <li>
                    <a href="{% url 'todo_list_detail' todolist.id %}">{{ todolist.name }}</a>
                    - {{ todolist.items.count }} items
                    <a href="{% url 'todo_list_update' todolist.id %}">Edit</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'todo_list_create' %}">Create New To-Do List</a>
    </main>
</body>
</html>
